name: CI
on:
  pull_request:
    branches: [ '**' ]

jobs:
  ci:
    name: CI
    runs-on: windows-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3.5.3
        with:
          fetch-depth: 0

      - name: set up jdk
        uses: actions/setup-java@v3.6.0
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: gradlew test
        run: ./gradlew test --continue --info '-Dfile.encoding=UTF-8'

      - name: publish test report
        if: failure() || success()
        uses: dorny/test-reporter@v1.6.0
        with:
          name: testreport - ${{ github.head_ref }}
          path: '**/build/test-results/test/TEST*.xml'
          reporter: java-junit
          only-summary: true
        continue-on-error: true